@model UygunsuzlukRaporuProjesi.Models.Unsuitability

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Unsuitability</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnsuitabilityType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnsuitabilityType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkOrderNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkOrderNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnsuitabilityData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnsuitabilityData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartRevisionNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartRevisionNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnsuitabilityDetectedCenterNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnsuitabilityDetectedCenterNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnsuitabilityDetectedOperationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnsuitabilityDetectedOperationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductionQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcceptedQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcceptedQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnsuitabilityQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnsuitabilityQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnsuitabilePersonel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnsuitabilePersonel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnsuitabileSection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnsuitabileSection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnsuitabilityDefinition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnsuitabilityDefinition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnsuitabilityIdentifierInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnsuitabilityIdentifierInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnsuitabilityIdentifiingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnsuitabilityIdentifiingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnsuitabilityConfirmerInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnsuitabilityConfirmerInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnsuitabilityConfirmingInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnsuitabilityConfirmingInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencySolution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmergencySolution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencySolutionWriterInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmergencySolutionWriterInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencySolutionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmergencySolutionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnsuitabilityCodeAndDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnsuitabilityCodeAndDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCustomerProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCustomerProduct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDfActivityRequired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDfActivityRequired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionForRefusingUnsuitability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionForRefusingUnsuitability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionForRefusingUnsuitabilityPersonelInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionForRefusingUnsuitabilityPersonelInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionForRefusingUnsuitabilityDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionForRefusingUnsuitabilityDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuditResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuditResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnsuitabilityDetectorPersonelInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnsuitabilityDetectorPersonelInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnsuitabilityDetectionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnsuitabilityDetectionDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UnsuitabilityNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
